.Person {
    width: 60%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

.Person input {
    max-width: 90%;
    font-size: 1.1em;
    padding: .2em;
}

@media (min-width: 500px) {
    .Person {
        margin-bottom: 10px;
        width: 450px;
    }
}